<!DOCTYPE html>
<html>
<head>
<style>
	/*
	body 
	{
	background-image: url("https://estaticos.serpadres.es/media/cache/760x570_thumb/uploads/images/song/583da1a75cafe81e638b45df/reno.jpg");
	
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	*/
	body{
		padding: 30px;
		background-image: url("images/cielo.jpg");
	}
	input{
		width: 100%;
	}
	
</style>
	<title>Parcial practico</title>
</head>
<body>

	<p>Codigo estudiante: A00136996</p>
	<p>Nombre estudiante: Beycker Alexis Agredo Mosquera</p>
	<form method="GET" style="border: 1px solid black; padding: 20px; width: 24%;">
		<!--Aqui va a ir mi nuevo codigo-->


		<p>Username</p>
		<input type="text" name="usuario">
		<p>Password</p>
		<input type="text" name="pass"><br><br>
		<input type="submit" name="submit">

		<!--
		<center>
			<p> <b>
				What do you want for Christmas? 
				</b>
			</p>
			<input type="text" name="gift">
			
			<br>
			<input type="submit" value="submit">
		
		</center>	
		-->	
	</form>
</body>
</html>