<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		body {
			padding: 30px;
			background-image: url("images/cielo.jpg");
		}
		table{
			border: 1px solid black;
		}
	</style>
	<title>prueba</title>
</head>
<body>

	<p>Cantidad de juegos: X</p>
	<table>
		<tr>
			<th>Fecha</th>
			<th>Numero de alimentos digeridos</th>
			<th>Score</th>
			<th>Gano?</th>
			<th>Tiempo transcurrido</th>
		</tr>
		<tr>
			<td>16-05-2019</td>
			<td>100</td>
			<td>200</td>
			<td>Si</td>
			<td>2 Minutos</td>
		</tr>
		<tr>
			<td>16-05-2019</td>
			<td>500</td>
			<td>20000</td>
			<td>No</td>
			<td>10 Minutos</td>
		</tr>
		
	</table>
</body>
</html>